/*dekstop*/
@media screen and (max-width: 1000px) {
    p {
        font-size: .9rem;
        line-height: 1.8rem;
    }

    .skills-right ul li {
        font-size: .9rem;
    }
}

/*tablet*/
@media screen and ( max-width: 825px) {
    .main-container {
        width: 825px; ;
    }
}

    /*burger*/
    .burger {
        display: block;
        cursor: pointer;
    }
    

    /*navigasi*/
    nav {
        position: fixed;
        width: 40%;
        top: 0;
        right: 0;
        height: 100vh;
        flex-direction: column;
        background: var(rgb(66, 66, 66));
        border-left: 1px solid rgb(248, 82, 82);
        z-index: 9;
        transform: translateX(100%); /*agar kesamping keluar frame*/
        transition: 2s ease-in-out;
    }

    nav ul {
        height: 100vh;
        align-items: center;
        flex-direction: column;
        justify-content: center;
    }

    .nav-active {
        transform: translateX(0);
    }

    .section-title {
        font-size: 1.5rem;
        margin: 5rem 0 2.5rem
    }

    .pre-title {
        font-size: .8rem;
    }

    /*her*/
    #hero {
        grid-template-columns: 1fr;
        height: fit-content;
        flex-direction: column;
    }

    .hero-right {
        order: -1;
    }

    .hero-right img {
        width: 60%;
        margin-bottom: 2rem;
    }

    .hero-left {
        text-align: center;
    }

/*hp*/
@media screen and (max-width: 680px) {
    
}